body {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.color {
    
    color: rgb(0, 0, 0);
}


.roboto-letra {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cuadrado {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 80vh;
    width: 80vh;
}
.circulo-rojo{
    width: 15px;
    height: 15px; 
    background-color: #ff0000;
    border-radius: 50%; 

}

.circulo-amarillo{
    width: 15px; 
    height: 15px; 
    background-color: #ffd000;
    border-radius: 50%; 

}

.circulo-verde{
    width: 15px;  
    height: 15px;
    background-color: #00a708; 
    border-radius: 50%;

}

.to-do-list{
padding: 10px;

}