body {
    background-color: rgb(56, 56, 56);
}

.blaco {
    color: white;
}

.cuadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 auto;
    height: 90vh;  
    width: 30vh;
}
