body {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.blaco {
    color: rgb(255, 255, 255);
}

.cuadrado {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 80vh;
    width: 80vh;
}

.to-do-list{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}